.zone {
    /*padding:30px 50px;*/
    margin:10px 10px;
    cursor:pointer;
    /*display:inline-block;*/
    color:#FFF;
    font-size:2em;
    border-radius:2px;
    /*border:1px solid #bbb;*/
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
body,html{
	/*background-image: url(1stpagepic.jpg);*/
	/*background-size: cover;*/
	/*height: 50vh;*/
	/*width: 50vh;*/

	/*height: 50%;*/
	margin: 0;
	padding: 0;

}

.first{
		position: relative;
		height: 70vh;
		overflow: hidden;
		background: url(himu.jpg)  ;
		background-size: cover;


}

.second{

	

	position: absolute;
	top: 50%
	/*left:50%;*/
	transform: translate(-50%,-50%);
	overflow: hidden;





}

.container{
	/*display: flex;
	list-style: none;
	margin: 20px;
	color: white;
	font-size: 1em;
	font-family: arial;*/
}

.contents{
	display: flex;
	list-style: none;
	margin: 10px;
	color: white;
	font-size: 1em;
	font-family: roboto;
	
}

li{
	padding: 10px;

}

.push{
	transition: all 0.3s linear;
} 

.posfix{
	position: fixed;
	cursor: pointer;
	
}

.push:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}*/

h1{
	text-align: center;
	justify-content: center;
	font-family: roboto;
}


.grid{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}

.box > img {
	width: 100%;
}

.box{
	padding: 10px;
	margin: 10px;
}
/*.image{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 50vh;
}*/

/*img{
	margin: 0;
	display: flex;
	align-content: center;
	justify-content: center;
}
*/